.actividades-tit{
    background-color: rgb(184, 235, 172);
}

.excursiones-fondo{
    background-color: rgb(146, 207, 131);
    border-top: 3px solid white;
}

.condiciones{
    background-color: rgb(218, 216, 216);
    border-top: 3px solid white;
}

