header{
    font-size: 2.5vh; 
}

header li:hover{
    color: rgb(51, 105, 38);
}

header a:hover{
    text-decoration: none;
    color: rgba(48, 99, 35, 0.5);
}

.navbar{
    width: 100%;
}

.nav-item{
    color: rgb(29, 150, 59);
}
