@import "variables";

main h1{
    font-size: 4.5vh;
}

main h2{
    font-size: 4vh;
}

.img-principal{
    object-fit: cover;
}

.texto-principal{
    font-size: 2.5vh;
    background-color: $fondo-oscuro;
}
.texto-principal h2{
    font-size: 3.5vh;
}

.categorias{
    background-color: $fondo-claro;
    border: 2px solid rgb(255, 255, 255);
}
.categorias h3{
    font-size: 3.5vh;
}

.contenedor{
    background-color: $fondo-oscuro;
}

.card-title{
    font-size: 3.3vh;
}

.card-desc{
    font-size: 2.7vh;
}

.card-text{
    font-size: 2.4vh;
}

.card-paquetes{
    background-color: $fondo-oscuro;
    border: none;
}

.hover-cartas :hover{
    background-color: $fondo-claro;
    transition: all .5s;
    opacity: 1;
}

.paquet button{
    text-align: center;
    width: 30px;
    animation: animacion 2s linear infinite;
}

.button__anim:hover{
    background-color: rgba(93, 158, 77, 0.5);
    border: 2px solid white;
    transition: all 0.8s;
}

.button__anim a:hover{
    background-color: rgba(93, 158, 77, 0.5);
    transition: all 0.8s;
}



.final-inicio{
    line-height: 30px;
    background-color: $fondo-gris;
    border-top: 2px solid white;
}

.final-inicio h3{
    font-size: 3vh;
}

.final-inicio h4{
    font-size: 2.6vh;
}

.final-inicio p{
    font-size: 2.2vh;
}