.nosotros-tit{
    background-color: rgb(184, 235, 172);
    border-bottom: 3px solid white;
}

.nosotros-fondo{
    background-color: rgb(146, 207, 131);
}

.nosotros h2{
    font-size: 3.3vh;
}
.nosotros p{
    font-size: 2.5vh;
}