/*Estilos generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;;
}

header a{
    color: black;
    text-decoration: none;
}

strong{
    font-size: 25px;
}

header img{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

header{
    padding: 1rem;
    background-color: rgb(235, 253, 235);
    color: black;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    font-weight: bold;
}

nav ul{
    background-size: cover;
    display: flex;
    flex-direction: row;
    font-size: 2.4vh;
}


ul li{
    list-style: none;
    margin: 0px 2.5vh;
}


main h2{
    font-size: 3.3vh;
}

main p{
    font-size: 2.3vh;
}

main h3{
    font-size: 3.1vh;
}

main h4{
    font-size: 2.5vh;
}

button a{
    text-decoration: none;
    color: black;
}

button a:hover{
    color: rgb(34, 133, 59);
    visibility: visible;
    opacity: 1;
    text-decoration: none;
}

/*MENU*/
.logo img{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}



.menu li a:hover{
    transition: all .3s;
    color: rgb(47, 167, 47);
}

.submenu{
    display: block;
    background: rgb(235, 253, 235);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    position: absolute;
    padding-top: 1rem;
    padding-left: 0px;
}

.submenu li a{
    padding: 10px;
    display: block;
    margin-left: 0px;
    color: black;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*INICIO*/

.hero{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    background-color: rgb(139, 204, 155);
    line-height: 3rem;
    gap: 3rem;
}

.text__princ{
    text-align: center;
    padding-bottom: 3rem;
}

.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgb(235, 253, 235);
    padding: 2rem;
}

.contenedor{
    width: 100%;
    max-width: 99%;
    margin: 0px 10px;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    flex-direction: row;
}

.contenedor > div{
    background-color: rgb(139, 204, 155);
}

.paquet p{ 
    padding: 0 15px ;
}

.activ p{
    padding: 0 15px;
}

.paquet,
.paquet2{
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    font-size: 2vh;
}

.activ,
.activ2{
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.final__inicio{
    
    margin-top: 4px;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(177, 199, 183);
}

/*PAQUETES*/
.paq__tit{
    display: flex;
    background-color: rgb(139, 204, 155);
    justify-content: center;
    font-size: 25px;
    padding: 2rem;
    color: black;
    font-weight: bold;
    border-top: 3px solid rgb(11, 66, 24);
}

.paq1{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-top: 3px solid rgb(11, 66, 24);
    border-bottom: 4px solid rgb(139, 204, 155);
}

.paq1 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}

.paq2{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgb(139, 204, 155);
}

.paq2 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}

.paq3{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-bottom: 4px solid rgb(139, 204, 155);
}

.paq3 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}
.paq4{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-bottom: 4px solid rgb(139, 204, 155);
}
.paq4 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}
.paq5{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-bottom: 4px solid rgb(139, 204, 155);
}
.paq5 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}

.paq6{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-bottom: 4px solid rgb(139, 204, 155);
}
.paq6 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}
.paq7{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-bottom: 4px solid rgb(139, 204, 155);
}
.paq7 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}
.paq8{
    display: grid;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding-top: 5rem;
    padding-bottom: 6rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-bottom: 4px solid rgb(139, 204, 155);
}
.paq8 input{
    width: 100px;
    height: 2rem;
    margin-left: 240px;
    margin-bottom: 5rem;
}

/*BODEGAS*/
.activid{
    display: grid;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(139, 204, 155);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    color: black;
    
}

.resto{
    display: grid;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(192, 228, 192);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    color: black;
    border-bottom: 3px solid rgb(11, 66, 24);
    border-top: 3px solid rgb(11, 66, 24);
}

.fondo__bod{
    background-color: rgb(192, 228, 192);
}

.bodega1{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(139, 204, 155);
    padding: 4rem;
    line-height: 3rem;
    border-bottom: 4px solid white;
}

.bodega2{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(192, 228, 192);
    padding: 6rem;
    line-height: 3rem;
    width: 100%px;
    border-bottom: 4px solid white;
}

.bodega3{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(139, 204, 155);
    padding: 6rem;
    line-height: 3rem;
    border-bottom: 4px solid white;
}
.bodega4{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(192, 228, 192);
    height: 40vp;
    padding: 4rem;
    line-height: 3rem;
}

.degust__tit{
    display: grid;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(192, 228, 192);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    color: black;
    border-top: 3px solid rgb(11, 66, 24);
    border-bottom: 3px solid rgb(11, 66, 24);
}

.degust{
    background-color: rgb(192, 228, 192);
    width: 100%;
    margin: auto auto;
    text-align: center;
    display: grid;
    flex-direction: column;
}

.deg{
    width: 800px;
    height: 500px;
    background-color: rgb(139, 204, 155);
    margin: auto;
    text-align: center;
    line-height: 60px;
    border-bottom: 3px solid white;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 3vh;
}



/*ESCURSIONES*/

.excurs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: rgb(3, 66, 18);
    line-height: 3rem;
    padding-top: 3rem;
    background-color: rgb(139, 204, 155);
}

.excursiones1{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(139, 204, 155);
    padding: 3rem;
    line-height: 2.6rem;
    border-bottom: 4px solid white;
}
.excursiones2{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(192, 228, 192);
    padding: 4rem;
    line-height: 2.6rem;
    border-bottom: 4px solid white;
}
.excursiones3{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(139, 204, 155);
    padding: 4rem;
    line-height: 2.6rem;
    border-bottom: 4px solid white;
}
.excursiones4{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(192, 228, 192);
    padding: 4rem;
    line-height: 2.6rem;
    border-bottom: 4px solid white;
}
.excursiones5{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgb(139, 204, 155);
    padding: 4rem;
    line-height: 2.6rem;
    border-bottom: 4px solid white;
}

.excursiones__bien{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(139, 204, 155);
    padding-top: 2rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid white;
}

.excur__bien{
    background-color: rgb(192, 228, 192);
    width: 100%;
    margin: auto auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: auto auto;
}

.exc__bien{
    width: 500px;
    height: 400px;
    background-color: rgb(139, 204, 155);
    margin: auto;
    text-align: center;
    line-height: 60px;
    border: 3px solid white;
    padding-top: 1rem;
}

.excursiones__aven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(139, 204, 155);
    padding-top: 2rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
}

.aventura{
    background-color: rgb(192, 228, 192);
    width: 100%;
    margin: auto auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 10px;
}

.avent{
    width: 600px;
    height: 600px;
    background-color: rgb(139, 204, 155);
    margin: auto;
    text-align: center;
    line-height: 50px;
    border: 3px solid white;height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}
.cond{
    display: grid;
    justify-content: start;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 5rem;
    padding-right: 35rem;
    line-height: 35px;
    text-align: start;
    border-bottom: 3px solid rgb(156, 156, 156);
    border-top: 3px solid rgb(156, 156, 156);
    background-color: rgb(213, 223, 213);
}

/*NOSOTROS*/

.nos{
    background-color: rgb(190, 231, 190);
    border-bottom: 2px solid rgb(11, 66, 24);
    width: 100%;
}

.nos__tit{
    display: grid;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
    align-content: center;
    align-items: center;
    color: black;
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(139, 204, 155);
    border-bottom: 2px solid rgb(11, 66, 24);
    border-top: 2px solid rgb(11, 66, 24);
}

.nosotros{
    width: 100%;
    display: grid;
    justify-content: start;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 5rem;
    padding-right: 30vh;
    line-height: 35px;
    text-align: start;
}

.nos__img{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
    text-align: center;
    gap: 5rem;
    align-content: center;
    align-items: center;
    justify-content: center;
}


/*CONTACTO*/

.contacto__fondo{
    background-color: rgb(139, 204, 155);
}

.contacto{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.contacto__tit{
    text-align: center;
    font-size: 30px;
    color: rgb(11, 66, 24);
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.contact{
    box-shadow: 0 0 20px 0 rgb(11, 66, 24, .6);
}

.contact > * { 
    padding: 1em;
}

.formulario{
    background-color: rgb(222, 245, 222);
}

.formulario form{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.formulario form .block{
    grid-column: 1 / 3;

}

.formulario form p{
    margin: 0;
    padding: 1em;
}


.formulario form button,
.formulario form input,
.formulario form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(44, 44, 44);
    outline: none;
}

.formulario form button{
    background: rgb(63, 133, 81);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: black;
}

.formulario form button:hover,
.formulario form button:focus{
    background: rgb(139, 204, 155);
    color: rgb(11, 66, 24);
    transition: .8s ease-out;
    outline: 0;
}

.contact__info{
    background-color: rgb(63, 133, 81);
}

.contact__info h4,
.contact__info ul,
.contact__info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact__info ul{
    list-style: none;
    padding: 0;
}

.contact__info ul li{
    padding: .3em;
}

/*BOTONES*/
.button{
    text-decoration: none;
    padding: 7px;
    font-weight: 20;
    font-size: 12px;
    color: black;
    background-color: rgb(235, 253, 235);
    border-radius: 6px;
    border: black 2px solid;
    transition: opacity 1.5s;
}

.button:hover{
    color: rgb(34, 133, 59);
    visibility: visible;
    opacity: 1;
    text-decoration: none;
}

.button__cont{
    text-decoration: none;
    padding: 7px;
    font-weight: 20;
    font-size: 15px;
    color: black;
    background-color: rgb(187, 184, 184);
    border-radius: 6px;
    border: 2px solid  black;
    transition: opacity 1.5s;
}

.button__cont:hover{
    color: white;
    visibility: visible;
    opacity: 1;
}

/*FOOTER*/
.footer{
    background: rgb(235, 253, 235);
    padding: 30px 0;
    height: 100%;
}

.container{
    max-width: 100%;
    margin: auto;
    margin-left: 10rem;
    line-height: 2.5rem;
    padding-top: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer ul{
    list-style: none;
}


.footer__col{
    width: 25%;
    padding: 0 15px;
}

.footer__col{
    font-size: 2.5vh;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer__col h4{
    padding-bottom: 2rem;
}


.footer__col ul li a {
    font-size: 2.4vh;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: black;
    transition: all 0.3s ease;
}

.footer__col ul li a:hover{
    padding-left: 10px;
}

.footer__col .social__links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(139, 204, 155);
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.3s ease;
}

.footer__col .social__links a:hover{
    color: rgb(139, 204, 155);
    background-color: black;
}

.footer__col ul li{
    font-size: 2.4vh;
    text-transform: capitalize;
}

/*RESPONSIVE FOOTER*/
@media(max-width: 768px){
    .footer__col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 425px){
    .footer__col{
        width: 100%;
    }
}

/*RESPONSIVE CONTACTO*/

@media (min-width: 700px){
    .contacto main {
        padding: 0 4rem;
        width: 100%;
    }
    .contact{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact > * {
        padding: 2em;
    }
    .contact__info h4,
    .contact__info ul,
    .contact__info p{
    padding: .7em;
    }
}

@media (min-width: 470px){
    .contacto main {
        padding: 0 4rem;
        width: 100%;
    }
    .contact{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact > * {
        padding: 2em;
    }
    .contact__info h4,
    .contact__info ul,
    .contact__info p{
    padding: .7em;
    }
}

@media (max-width: 768px) {
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .responsive__nav nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .categorias{
        margin: auto;
        width: 100%;
    }

    .contenedor{
        margin: auto;
        padding: auto;
        width: 100%;
        height: 300px;
        grid-column: 1fr 1fr;
        grid-template-rows: repeat(4 auto);
        font-size: 0.1px;
    }

    .paquet,
    .paquet2{
        display: flex;
        justify-content: center;
        padding-left: 5px ;
        padding-right: 5px;
        padding-top: 5px;
    }

    .activ,
    .activ2{
        display: flex;
        justify-content: center;
        padding-left: 1px ;
        padding-right: 1px;
    }

    .bodegas{
        margin: auto;
        padding: auto;
        width: 100%;
    }

    .deg{
        width: 100%;
    }

    .aventura{
        margin: auto;
        padding: auto;
        width: 100%;
        grid-template-columns: 1fr;
    }
}  

@media (min-width: 425px) {
    header{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .categorias{
        margin: auto;
        width: 100%;
    }


    .contenedor{
        margin: auto;
        padding: auto;
        width: 100%;
        height: auto;
        grid-column: 1fr 1fr;
        grid-template-rows: repeat(4 auto);
        font-size: 0.1px;
    }

    .paquet,
    .paquet2{
        display: flex;
        justify-content: center;
        padding-left: 1px ;
        padding-right: 1px;
    }

    .activ,
    .activ2{
        display: flex;
        justify-content: center;
        padding-left: 1px ;
        padding-right: 1px;
    }

    .nosotros{
        width: 100%;
    }

    .bodegas{
        margin: auto;
        padding: auto;
        width: 100%;
    }

    .excur__bien{
        margin: auto;
        padding: auto;
        width: 100%;
        grid-template-columns: 1fr; 
    }
    .deg{
        width: 100%;
    }

    .aventura{
        margin: auto;
        padding: auto;
        width: 100%;
        grid-template-columns: 1fr;
    }
}


